main
build/bin/*
build/release/*
PapeChanger.dmg
.DS_Store
AppleWrapepr/PapeChanger/build/*
PapeChanger.xcarchive
AppleWrapepr/PapeChanger/Pape Changer.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
